VITE_API_BASE_URL="http://localhost:4000"
VITE_APP_NAME="CodeFabric"
VITE_APP_SUBTITLE="快速开发系统"
VITE_APP_LOGO_ICON="command"
VITE_AUTH_TOKEN_KEY="admin_access_token"
VITE_APP_URL="http://localhost:5173"
VITE_API_RESPONSE_CODE_FIELD="code"
VITE_API_RESPONSE_MESSAGE_FIELD="message"
VITE_API_RESPONSE_DATA_FIELD="data"
